<p id="notice"><%= notice %></p>

<h1>Relatório</h1>
<div class="container-fluid stripped-table">
<table class="table">
  <thead>
    <tr>
      <th>Inquilino</th>
      <th>Mes</th>
      <th>Pago</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mensalidades.each do |mensalidade| %>
      <tr>
        <td class='col-4'><%= mensalidade.inquilino.nome %></td>
        <td class='col-4'><%= mensalidade.mes.strftime("%d/%m/%Y") %></td>

        <% if mensalidade.pago.eql? true %>
        <td >Pagou</td>
        <% else %>
        <td ">Não Pagou</td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
