<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @whatsapp.numero %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @whatsapp.endereco %>
</p>

<%= link_to "Voltar", inquilinos_path(), :class => "btn btn-success", :id => 'voltar', :method => :get %>
