<br>
<h1>Editando <%= @inquilino.nome %></h1>

<%= render 'form', inquilino: @inquilino %>

<%= button_to "Mostrar", @inquilino, :class => "btn btn-success", :method => :get %>
<%= button_to "Voltar", inquilinos_path, :class => "btn btn-success", :method => :get %>
