
<h1>Inquilinos</h1>
<div class="container-fluid stripped-table">
<table class="table">
  <thead >
    <tr class="d-flex" style: background-color:black>
      <th class='col-4'>Nome </th>
      <th class='col-xs-6 col-sm-4'>Ap</th>
      <th class='col-2'>Pago</th>
      <th class='col-3'>Dia do vencimento</th>
    </tr>
  </thead>

  <tbody>
    <% @inquilinos.each do |inquilino| %>
      <tr>
        <td class='col-4'><%= link_to inquilino.nome, inquilino %></td>
        <td class='col-2'><%= inquilino.ap %></td>
        <% if inquilino.pago.eql? true %>
        <td class='col-2 btn btn-success id="pago"'>Pagou</td>
        <% else %>
        <td class='col-2 btn btn-danger'>Devendo</td>
        <% end %>
        <td class='col-2'><%= inquilino.dataVencimento.day %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<button class="w3-button w3-teal" type="submit"><%= link_to 'Cadastrar Novo Inquilino', new_inquilino_path, {:style => 'color: #FFFFFF'} %></button>
