@import "bootstrap-sprockets";
@import "bootstrap";
@import 'font_awesome5_webfont';



body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #111;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


#logo {
  float: left;
  margin-right: 3px;
  font-size: 1.8em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 2px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#voltar {
color: black
}

#editar{
color: black;
}

#excluir{
color: black;
}

.dotred{
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
.dotgreen {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

#xxx{
  color: blue;
  position:relative;
  size: auto;

}
#tesste {

  text-decoration-color: green;
  background-image: url('./predio.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border: 1px solid gray;
}



.login-wrap{
 width:100%;
 margin:auto;
 max-width:300px;
 min-height:300px;
 position:relative;
 border: 1px solid gray;
 box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{

 width:70%;
 height:70%;
 position:center;
 padding:90px 70px 50px 70px;
 background:rgba(0, 0, 0, 0.8);
}
